
// .logoutButton {
//     // padding-top: 2%;
//     margin-left: 80%;
// }

// ion-button{
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding: 0 90px 1px;
//     width: 100%;
//     height: 100%;
// }