<ion-header>
  <ion-toolbar>
    <ion-title>
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-list>
        <ion-item *ngFor="let item of dataList">
            <ion-label>{{item}}</ion-label>
          </ion-item>
    </ion-list> -->


<ion-card *ngFor = "let data of dataList">
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-img [src]="item.src"></ion-img>
    </ion-thumbnail>
    <ion-label> Ashu </ion-label>
  </ion-item>

  <ion-card-content>
        {{data}}
  </ion-card-content>
</ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="crescent"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)= "onClickButton()">
            <ion-icon name="ios-add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>
